.ticket {
  display: flex;
  border-radius: 7px;
  background-color: var(--white);
  box-shadow: 0px 0px 5px 2px var(--grey-dim); 
  .ticket__left {
    padding: 25px 20px;
    max-width: 35%;
    border-right: 1.5px solid var(--grey-dim);
    .ticket__airline {
      margin: 0 20px 20px;
      img {
        width: 100%;
      }
    }
    .ticket__buyBtn {
      width: 100%;
      padding: 5px 0;
      font-size: 16px;
      line-height: 1.4em;
      color: var(--white);
      background-color: var(--orange);
      border-radius: 7px;
      box-shadow: 0px 1px 5px 1px var(--grey-dim); 
      transition: all 0.15s ease-in-out 0s;
      &:hover {
        background-color: var(--orange-light);
      }
    }
  }
  .ticket__right {
    padding: 25px 25px;
    max-width: 65%;
    width: 100%;
    .ticket__timeBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin: 0 0 10px 0;
      .ticket__time {
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 0.05em;
        line-height: 1;
      }
      .ticket__flight {
        width: 100%;
        .ticket__stops {
          font-size: 10px;
          font-weight: 500;
          letter-spacing: 0.02em;
          color: var(--grey);
          margin: 0 0 1px 0;
          text-align: center;
          text-transform: uppercase;
        }
        .ticket__planeLine {
          display: flex;
          align-items: center;
          hr {
            height: 1px;
            width: 100%;
            background-color: var(--grey);
          }
        }
      }
    }
    .ticket__airports {
      display: flex;
      justify-content: space-between;
      .ticket__airport {
        .ticket__city {
          font-size: 13px;
          font-weight: 600;
          margin: 0 0 3px 0;
        }
        .ticket__date {
          font-size: 13px;
          color: var(--grey);
        }
      }
    }
  }
}