.mainPage {
  .mainPage__wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 100px auto 20px;
    padding: 20px;
    .mainPage__filters {
      flex: 2;
    }
    .mainPage__tickets {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}